/* Universal */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Hind', sans-serif;
}

/* Header */
.logo img {
background-color: #f16334;
width: 150px;
padding: 5px;
border-radius: 5px 5px 0px 0px;
}

.navbar {
  overflow: hidden;
  background-color: navy;
  border-radius: 0px 0px 5px 5px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f16334;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Main Page */
section {
padding-top: 10px;
padding-bottom: 10px;
}

.title {
background-color: #f16334;
color: white;
text-align: center;
padding: 10px;
border-radius: 5px 5px 0px 0px;
}

table {
width: 100%;
border-collapse: collapse;
}

table td, th {
  border: 1px solid #121212;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

table td {
text-align: left;
}

table tr:hover {
background-color: lightblue;
}

/* Breadcrumbs */
ul.breadcrumb {
  padding: 10px;
  list-style: none;
  background-color: #eee;
  margin: 0px 4px 0px 4px;
}
ul.breadcrumb li {
  display: inline;
  font-size: 1em;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* Footer */
.footer {
background-color: #f16334;
padding: 10px;
color: #fff;
text-align: center;
border-radius: 0px 0px 5px 5px;
}

/* Style the list */
.footer-links {
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

/* Style the list items */
.footer-links li {
  display: inline; /* Display items horizontally */
  margin-right: 10px; /* Add spacing between items */
  font-size: 15px;
}

/* Style the links */
.footer-links a {
  text-decoration: none; /* Remove underline */
  color: #fff; /* Set link color */
}

/* Style link hover state */
.footer-links a:hover {
  text-decoration: underline; /* Underline on hover */
}

a {
  text-decoration: none;
}


/* Dropdown of Stories */

.inv {
display: none;
}

#content_1, #content_2, #content_3, #content_4, #content_5, #content_6 {
background-color: #f16334;
font-size: 1.2em;
padding: 0.5em;
border-radius: 0.3em;
color: #fff;
}

#choose {
width: 100%;
font-family: 'Hind', sans-serif;
font-size: 15px;
text-align: center;
margin-bottom: 5px;
padding: 5px; 
}

#textContainer {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.wrapped-text {
  max-width: 100%;
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
}

@media print {
  .no-print {
    display: none !important;
  }
  .printPoem {
    color: black!important;
  }
}